<div class="topbar"><h2>&nbsp;Eat<br>Some!</h2></div>
<div class="container">
<div class="card">
	<h3><%=@r_name %></h3>
	<p><%=@r_address %> - <%=@r_city %></p>
</div>
<div></div>
<button class="square" onclick="window.location.href='<%=@r_mobile_reserve_url %>'">Sounds good</button>
<button class="square" onclick="window.location.href+=' '">Nah, Maybe Not</button>
</div>