<div class="topbar"><h2>&nbsp;Eat<br>Some!</h2></div>
<div class="container">
<button class="square" onclick="window.location.href+='&budget=1'">$</button>
<button class="square" onclick="window.location.href+='&budget=2'">$$</button>
<button class="square" onclick="window.location.href+='&budget=3'">$$$</button>
<button class="square" onclick="window.location.href+='&budget=4'">$$$$</button>