<h1>&nbsp;Eat<br>Some!</h1>

<script>
function insertParam(key1, value1, key2, value2) {
    key1 = encodeURI(key1); value1 = encodeURI(value1);
    key2 = encodeURI(key2); value2 = encodeURI(value2);

    var kvp = document.location.search;

    kvp = [key1,value1].join('=') + '&' + [key2,value2].join('=');

    //this will reload the page, it's likely better to store this until finished
    document.location.search = kvp; 
}

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    insertParam("lat", position.coords.latitude, "lon", position.coords.longitude);
}

window.onload = window.getLocation();
</script>